.filterButton{
    display: flex;
    justify-content: space-around;
}

.filterButton button{
    background-color: inherit;
    color: grey;
    padding: 1px;
    border-bottom: 1px solid black;
    border-radius: 0px;
    outline: none;
}

button.active {
    color: rgb(8, 137, 180);
    font-weight: bold;
  }