.filterButton{
    display: flex;  
    justify-content: space-around;
}

.filterButton button{
    font-size: 1.5rem;
    background-color: inherit;
    color: #808080;
    padding: .125rem;
    border-bottom: 1px solid #000000;
    border-radius: 0px;
    outline: none;
}

button.active {
    color: #0889b4;
    font-weight: bold;
  }