form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #229bec;
  color: beige;
  cursor: pointer;
  transition: border-color 0.25s;
}


input,
button {
  padding: 10px 55px;
  border: none;
}

input {
  height: 30px;
  font-size: 1.3rem;
  border-bottom: 1px solid rgb(4, 4, 4);
  background-color: #c1bbbb;
}

input:focus {
  outline: none;
}
