form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

button {
  border-radius: .5rem;
  border: 1px solid transparent;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #229bec;
  color: #f5f5dc;
  cursor: pointer;
  transition: border-color 0.25s;
}


input,
button {
  padding: .5rem 3.5rem;
  border: none;
}

.inputTodo  {
  height: 2rem;
  font-size: 1.25rem!important;
  border-bottom: 1px solid #040404;
  background-color: #c1bbbb!important;
}


input:focus {
  outline: none;
}
