:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1d1d1dde;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3ebeb;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* custom antd */

.ant-row.ant-form-item-row.css-dev-only-do-not-override-1v5z42l{
  flex-direction: column;
  text-align: start;
}
.ant-col.ant-form-item-label.ant-col-xs-24.ant-col-sm-8.css-dev-only-do-not-override-1v5z42l{
  text-align: start;
}

.ant-form-item-explain-error{
  position: absolute;
    z-index: 1000;
    background-color: white;
}

@media (min-width: 576px) {
    :where(.css-dev-only-do-not-override-1v5z42l).ant-col-sm-offset-8 {
        margin-inline-start: 0;
    }
}